.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
notes/
analysis/glossary.Rmd
code_ignore/*
other/*
# Ignoring docs on dev branch, Use wflow_build, not wflow_publish
# Do not merge this gitignore back to main!!
docs/*
